aioredis==2.0.1
anyio==3.6.2
APScheduler==3.10.4
async-timeout==4.0.2
bcrypt==4.0.1
blinker==1.6.2
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cryptography==40.0.2
dash==2.10.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==5.1
decorator==5.1.1
dnspython==2.3.0
ecdsa==0.18.0
email-validator==2.0.0.post2
et-xmlfile==1.1.0
fastapi==0.95.1
feffery-antd-charts==0.0.1rc17
feffery-antd-components==0.2.10rc17
feffery-markdown-components==0.2.10
feffery-utils-components==0.1.28
Flask==2.2.5
Flask-Compress==1.13
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.0
httptools==0.5.0
httpx==0.24.0
idna==3.4
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpath-ng==1.5.3
loguru==0.7.0
MarkupSafe==2.1.2
numpy==1.24.3
openpyxl==3.1.2
orjson==3.8.12
packaging==23.1
pandas==1.5.3
passlib==1.7.4
Pillow==10.0.0
plotly==5.14.1
ply==3.11
psutil==5.9.5
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.7
PyMySQL==1.0.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
redis==4.5.5
requests==2.30.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.48
starlette==0.26.1
tenacity==8.2.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
ua-parser==0.16.1
ujson==5.7.0
urllib3==2.0.2
user-agents==2.2.0
uvicorn==0.22.0
waitress==2.1.2
watchfiles==0.19.0
websockets==11.0.3
Werkzeug==2.2.3
win32-setctime==1.1.0
WTForms==3.0.1
zipp==3.15.0
zope.interface==6.0
